
@model  List<Note>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.6.1.min.js"></script>
<style>
    .carousel .item {
        height: 300px;
    }

    .item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("PartialPageCategories")
        </div>
        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide " data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="~/Image/sunset-minimalist-triangle-sky-wallpaper-preview.jpg" />
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/Image/simple-simple-background-minimalism-black-background-wallpaper-preview.jpg" />
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/Image/sunset-minimalist-triangle-sky-wallpaper-preview.jpg" />
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4" data-noteId="@item.Id">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4>
                                    <a href="#">@item.Title</a>
                                </h4>
                                <h6 class="text-right"><span class="glyphicon glyphicon-user" style="margin-right:0.3rem"></span>@item.User.Name <br /><span class="glyphicon glyphicon-time">@item.UpdateDate.ToString("dd.MM.yy HH:mm")</span></h6>

                                @if (!string.IsNullOrEmpty(item.Text) && item.Text.Length > 40)
                                {
                                    <p>
                                        @item.Text.Substring(0, 40)...
                                        <a href="#" class="btn btn-default btn-xs bottom-right">Show All</a>
                                    </p>
                                }
                                else
                                {
                                    <p>@item.Text</p>
                                }
                            </div>
                            <div>
                                <hr />
                            </div>
                            <div class="ratings">
                                @*data-...="data" is for keeping data required*@

                                <p class="pull-right"><button class="btn btn-primary btn-xs " data-target="#modal1" data-toggle="modal" data-noteId="@item.Id"><span class="glyphicon glyphicon-comment" style="margin-right:0.3rem"></span>Comments</button></p>
                                <p>
                                    <button class="btn btn-primary btn-xs" data-noteId="@item.Id">
                                        <span class="glyphicon glyphicon-heart-empty like-heart" style="margin-right:0.3rem" data-like="false"></span>
                                        <span class="likenumber"> @item.LikeNumber</span>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section footer{
    @Html.Partial("_PartialPageFooter")
}
@_CustomHelpers.Modal("modal1", "Comments")

@*Script runs after the modal has opened*@

<script>
    var noteId = -1;
    $(function () {
        $("#modal1").on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            noteId = button.data("noteId");
            $('#modal1_body').load("/Comment/ShowComment/" + noteId);
        });
    })

    const editComment = (button, process, commentid, commenttext) => {
        var button = $(button);
        var editmode = button.data("edit");

        if (process === "update") {
            if (!editmode) {
                button.data("edit", true)
                button.removeClass("btn-primary");
                button.addClass("btn-info");

                $(commenttext).attr("contenteditable", true);
                $(commenttext).focus();
            }
            else {
                button.data("edit", false)
                button.removeClass("btn-info");
                button.addClass("btn-primary");

                $(commenttext).attr("contenteditable", false);

                var editedText = $(commenttext).text();
                $.ajax({
                    method: "POST",
                    url: "/Comment/Edit/" + commentid,
                    data: { text: editedText }
                }).done(function (data) {
                    if (data.result) {
                        $('#modal1_body').load("/Comment/ShowComment/" + noteId);
                    } else {
                        alert("Update Failed")
                    }
                }).fail(function () {
                    alert("Server Error")
                })
            }
        }
        else if (process === "delete") {
            var msg = confirm("Do You Want To Delete The Comment");
            if (!msg) {
                return false;
            }
            $.ajax({
                method: "GET",
                url: "/Comment/Delete/" + commentid
            }).done(function (data) {
                if (data.result) {
                    $('#modal1_body').load("/Comment/ShowComment/" + noteId);
                } else {
                    alert("Update Failed")
                }
            }).fail(function () {
                alert("Server Error")
            })
        }
        else if (process === "create") {

            var comment = $("#comment_text").val();
            $.ajax({
                method: "Post",
                url: "/Comment/Create",
                data: { text: comment, noteId: noteId }
            }).done(function (data) {
                if (data.result) {
                    $('#modal1_body').load("/Comment/ShowComment/" + noteId);
                } else {
                    alert("Commenting Failed")
                }
            }).fail(function () {
                alert("Commenting Failed")
            });
        }
    }
</script>
<script src="~/Scripts/Like.js"></script>>