@model User

@{
    ViewBag.Title = "ProfileEdit";
}

<h2>Edit Profile</h2>


<div class="container">

    <div class="row">
        @using (Html.BeginForm("ProfileEdit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-12 text-center ">
                    <img src="~/Image/@Model.Avatar" class="img-circle" width="110" height="110" />
                    @Html.HiddenFor(Model => Model.Avatar)
                    <br />
                    <input type="file" name="Avatar" id="Avatar" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" >    
                    @Html.ValidationSummary(false)
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group ">
                        @Html.LabelFor(Model => Model.Username, new { @class = "control-label col-md-2" })
                        <div class="col-md-10 ">
                        @Html.EditorFor(Model => Model.Username, new { @class = "control-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(Model => Model.Name, new { @class = "control-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.Surname, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(Model => Model.Surname, new { @class = "control-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.Password, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(Model => Model.Password, new { @class = "control-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.Email, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(Model => Model.Email, new { @class = "control-control" })
                        </div>
                    </div>
                </div>
                <div class="pull-left" style="margin-left:194px; margin-top:10px;">
                    <button type="submit" class="btn btn-primary">Save</button>
                    @Html.ActionLink("Exit", "Profile", "Home", new { @class = "btn btn-primary" })
                </div>

            </div>


        }
    </div>
</div>